client/node_modules
.env
.env.*
client/.env
client/.env.*
XAICropManagementAiService/.env
XAICropManagementAiService/.env.*
XAICropManagementAiService/venv
XAICropManagementAiService/__pycache__
XAICropManagementAiService/outputs
XAICropManagementAiService/api/__pycache__
XAICropManagementAiService/services/__pycache__
